Package: multicabinet2
Version: 0.1
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless (>= 1.6)
Maintainer: Artem Zhirkov
Description: A billing and invoicing web application
